In [3]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/digitalinnovationone/live-coding-evitando-o-7x1-com-python-e-sql/main/data.csv")
df.head()

,A,B,C,D,E,F,G,H
0,CAT|1442.0,EUA|1635.0,ARG|1770.7,AUS|1483.7,ALE|1659.0,BEL|1821.9,BRA|1837.6,COR|1526.0
1,EQU|1463.7,ING|1737.5,ARA|1435.7,DIN|1665.5,COS|1500.1,CAN|1473.8,CAM|1485.0,GAN|1393.5
2,HOL|1679.4,IRA|1558.6,MEX|1649.6,FRA|1764.9,ESP|1716.9,CRO|1632.2,SUI|1621.4,POR|1678.7
3,SEN|1584.6,GAL|1582.1,POL|1546.2,TUN|1507.9,JAP|1554.7,MAR|1558.4,SER|1549.5,URU|1641.0

In [32]:
import random, math

class CopaDoMundo:
    # horas = ["7h", "10h", "12h", "13h", "16h"]

    # @staticmethod
    # def HorarioJogo():
    #     CopaDoMundo.sorteioHoras = round(random.uniform(0, 4))
    #     print(CopaDoMundo.sorteioHoras)
    #     CopaDoMundo.horario = CopaDoMundo.horas[CopaDoMundo.sorteioHoras]
    #     return CopaDoMundo.horario
    
    # @staticmethod
    # def DataJogo():
    #     CopaDoMundo.oitavas = {}
    @staticmethod
    def InfoJogo():
        data = ["03/12", "04/12", "05/12", "06/12"]
        horario = ["12h", "16h"]
        estadio = ["Khalifa International Stadium", "Lusail Stadium", "Al Bayt Stadium", "Al Thumama Stadium", 
                    "Ahmad Bin Ali Stadium", "Al Janoub Stadium", "Education City Stadium", "Stadium 974"]

        oitavas = {
            "1A": data[0] + " - " + horario[0] + " - " + estadio[0],
            "1B": data[0] + " - " + horario[1] + " - " + estadio[4],
            # "2A": data[1] + " - " +
            }
        return oitavas
        # , "1B", "2A", "2B", "3A", "3B", "4A" "4B"}

print(CopaDoMundo.InfoJogo()["1B"])

03/12 - 16h - Ahmad Bin Ali Stadium

In [4]:
import random

class Team: 
    BEST_SCORE = 1837.6 # BRASIL(BRA)
    def __init__(self, cellData):
        teamData = cellData.split('|')
        self.name = teamData[0]
        self.score = float(teamData[1])

    def motivate(self):
        self.lastMotivation = random.uniform(70, (self.score * 100) / Team.BEST_SCORE)
        return self.lastMotivation

In [5]:
bestTeamsByGroup = {}

for label,content in df.items(): 
    team1 = Team(content[0])
    team2 = Team(content[1])
    team3 = Team(content[2])
    team4 = Team(content[3])  

    bestTeamsByGroup[label] = sorted([team1, team2, team3, team4], key=Team.motivate, reverse=True)

for grupo, motivatedTeams in bestTeamsByGroup.items(): 
    print(f'Grupo {grupo}: ', end="")
    for team in motivatedTeams: 
        print(f'{team.name} - ({team.lastMotivation:.2f}) ', end="")
    print()

Grupo A: EQU - (78.66) SEN - (78.01) HOL - (75.29) CAT - (71.95)
Grupo B: ING - (86.98) IRA - (84.36) EUA - (79.55) GAL - (79.13)
Grupo C: ARG - (94.59) MEX - (83.78) POL - (75.30) ARA - (71.35)
Grupo D: DIN - (90.58) FRA - (86.48) TUN - (77.40) AUS - (76.71)
Grupo E: ESP - (87.00) COS - (75.84) ALE - (74.89) JAP - (71.25)
Grupo F: BEL - (83.97) CRO - (78.39) CAN - (72.41) MAR - (71.56)
Grupo G: SUI - (79.36) CAM - (77.94) BRA - (72.78) SER - (71.89)
Grupo H: POR - (90.39) URU - (89.02) COR - (76.72) GAN - (75.73)

In [6]:
team1A = bestTeamsByGroup['A'][0]
team2A = bestTeamsByGroup['A'][1]
team1B = bestTeamsByGroup['B'][0]
team2B = bestTeamsByGroup['B'][1]
team1C = bestTeamsByGroup['C'][0]
team2C = bestTeamsByGroup['C'][1]
team1D = bestTeamsByGroup['D'][0]
team2D = bestTeamsByGroup['D'][1]
team1E = bestTeamsByGroup['E'][0]
team2E = bestTeamsByGroup['E'][1]
team1F = bestTeamsByGroup['F'][0]
team2F = bestTeamsByGroup['F'][1]
team1G = bestTeamsByGroup['G'][0]
team2G = bestTeamsByGroup['G'][1]
team1H = bestTeamsByGroup['H'][0]
team2H = bestTeamsByGroup['H'][1]

quarter1 = team1A if team1A.motivate() > team2B.motivate() else team2B
quarter2 = team1C if team1C.motivate() > team2D.motivate() else team2D
quarter3 = team1E if team1E.motivate() > team2F.motivate() else team2F
quarter4 = team1G if team1G.motivate() > team2H.motivate() else team2H
quarter5 = team1B if team1B.motivate() > team2A.motivate() else team2A
quarter6 = team1D if team1D.motivate() > team2C.motivate() else team2C
quarter7 = team1F if team1F.motivate() > team2E.motivate() else team2E
quarter8 = team1H if team1H.motivate() > team2G.motivate() else team2G

print(f'{team1A.name} ({team1A.lastMotivation:.2f}) x {team2B.name} ({team2B.lastMotivation:.2f})')
print(f'{team1C.name} ({team1C.lastMotivation:.2f}) x {team2D.name} ({team2D.lastMotivation:.2f})')
print(f'{team1E.name} ({team1E.lastMotivation:.2f}) x {team2F.name} ({team2F.lastMotivation:.2f})')
print(f'{team1G.name} ({team1G.lastMotivation:.2f}) x {team2H.name} ({team2H.lastMotivation:.2f})')
print(f'{team1B.name} ({team1B.lastMotivation:.2f}) x {team2A.name} ({team2A.lastMotivation:.2f})')
print(f'{team1D.name} ({team1D.lastMotivation:.2f}) x {team2C.name} ({team2C.lastMotivation:.2f})')
print(f'{team1F.name} ({team1F.lastMotivation:.2f}) x {team2E.name} ({team2E.lastMotivation:.2f})')
print(f'{team1H.name} ({team1H.lastMotivation:.2f}) x {team2G.name} ({team2G.lastMotivation:.2f})')

EQU (74.96) x IRA (70.35)
ARG (85.51) x FRA (83.23)
ESP (75.45) x CRO (71.59)
SUI (70.21) x URU (87.11)
ING (79.56) x SEN (84.18)
DIN (85.36) x MEX (88.41)
BEL (73.21) x COS (75.20)
POR (74.59) x CAM (80.17)

In [7]:
semi1A = quarter1 if quarter1.motivate() > quarter2.motivate() else quarter2
semi1B = quarter3 if quarter3.motivate() > quarter4.motivate() else quarter4
semi2A = quarter5 if quarter5.motivate() > quarter6.motivate() else quarter6
semi2B = quarter7 if quarter7.motivate() > quarter8.motivate() else quarter8

print(f'{quarter1.name} ({quarter1.lastMotivation:.2f}) x {quarter2.name} ({quarter2.lastMotivation:.2f})')
print(f'{quarter3.name} ({quarter3.lastMotivation:.2f}) x {quarter4.name} ({quarter4.lastMotivation:.2f})')
print(f'{quarter5.name} ({quarter5.lastMotivation:.2f}) x {quarter6.name} ({quarter6.lastMotivation:.2f})')
print(f'{quarter7.name} ({quarter7.lastMotivation:.2f}) x {quarter8.name} ({quarter8.lastMotivation:.2f})')

EQU (77.23) x ARG (77.65)
ESP (84.62) x URU (75.44)
SEN (78.69) x MEX (74.39)
COS (71.39) x CAM (77.66)

In [8]:
finalista1 = None
terceiro1 = None
if semi1A.motivate() > semi1B.motivate():
    finalista1 = semi1A
    terceiro1 = semi1B
else:
    finalista1 = semi1B
    terceiro1 = semi1A

finalista2 = None
terceiro2 = None
if semi2A.motivate() > semi2B.motivate():
    finalista2 = semi2A
    terceiro2 = semi2B
else: 
    finalista2 = semi2B
    terceiro2 = semi2A

print(f'{semi1A.name} ({semi1A.lastMotivation:.2f}) x {semi1B.name} ({semi1B.lastMotivation:.2f})')
print(f'{semi2A.name} ({semi2A.lastMotivation:.2f}) x {semi2B.name} ({semi2B.lastMotivation:.2f})')

ARG (86.38) x ESP (76.17)
SEN (72.08) x CAM (76.58)

In [9]:
winner = finalista1 if finalista1.motivate() > finalista2.motivate() else finalista2
second = finalista1 if finalista1.lastMotivation < finalista2.lastMotivation else finalista2

third = terceiro1 if terceiro1.motivate() > terceiro2.motivate() else terceiro2
fourth = terceiro1 if terceiro1.lastMotivation < terceiro2.lastMotivation else terceiro2

print(f'Grande Final: {finalista1.name} ({finalista1.lastMotivation:.2f}) x {finalista2.name} ({finalista2.lastMotivation:.2f})')
print(f'Disputa de terceiro lugar: {terceiro1.name} ({terceiro1.lastMotivation:.2f}) x {terceiro2.name} ({terceiro2.lastMotivation:.2f})')

Grande Final: ARG (80.14) x CAM (70.48)
Disputa de terceiro lugar: ESP (90.75) x SEN (77.17)

In [10]:
print(f'1º lugar: {winner.name}')
print(f'2º lugar: {second.name}')
print(f'3º lugar: {third.name}')

1º lugar: ARG
2º lugar: CAM
3º lugar: ESP